<ion-toolbar>
    <ion-searchbar color="light" [placeholder]="'zoek ' + objectName" [(ngModel)]="searchString" (ionChange)="search()">
    </ion-searchbar>
</ion-toolbar>
<ion-content class="searchlist-wrapper">
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-virtual-scroll [items]="filteredValues" approxItemHeight="44px">
                    <ion-item *virtualItem="let value" (click)="navigateToDetails(value)">
                        <ion-label>
                            <div *ngFor="let item of value | keyvalue">
                                <b *ngIf="showKey">{{item.key}}: </b>
                                {{item.value}}
                            </div>
                        </ion-label>
                    </ion-item>
                </ion-virtual-scroll>
            </ion-col>
            <ion-col size="8">
                <app-maps [zoom]="7" [geometrieWKTList]="geometrieWKTList"></app-maps>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
