<app-global-header></app-global-header>
<ion-content no-padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>Welkom op het klantportaal van de Rijksdienst voor het cultureel erfgoed.<br>
                    Zoek hieronder het rijksmonument dat u zoekt.</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Type rijksmonument</ion-label>
                    <ion-input [(ngModel)]="selectedValue" readonly></ion-input>
                    <!-- <ion-select [value]="selectedValue" okText="Okay" cancelText="Dismiss">
                        <ion-select-option *ngFor="let item of items" value="item">{{item}}</ion-select-option>
                    </ion-select> -->
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-rijksmonument-list [functieNaam]="selectedValue" (total)="totalUpdate($event)">
                </app-rijksmonument-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>