<app-global-header></app-global-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>Welkom op het klantportaal van de Rijksdienst voor het cultureel erfgoed.</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-rijksmonument-list [functieNaam]="selectedValue" (total)="totalUpdate($event)">
                </app-rijksmonument-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>